
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #540bc1;
    background-image:url("https://static.vecteezy.com/system/resources/previews/000/210/797/original/vector-purple-landscape-illustration.jpg");
    background-size:100%;

}

.login-box {
    width: 800px;
    height: 355px;
    /* Wider box */
    
    margin: 50px auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px rgba(153, 73, 73, 0.15);
    display: flex;
    /* Create two sections */
}

.left-section {
    width: 40%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:40px;
    background-color: #030363;
}

.right-section {
    width: 60%;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:30px;
    background-color: rgb(197, 195, 195);
}

.heading-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    padding: 8px 10px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.remember-me {
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center; /* Vertically center items */
  }
.social-login {
    text-align: right;
}

a {
    text-decoration: none;
}

.logo-container {
    text-align: left;
    margin-bottom: 10px;
}

.logo-container img {
    max-width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}
